<h1>Backoffice::Dashboard#index</h1>
<p>Find me in app/views/backoffice/dashboard/index.html.erb</p>

<%=current_admin.email %>
Categorias
<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Administradores</h1>
        <%= link_to new_backoffice_admin_path, class:"btn btn-success btn-circle" do %>
            <i class="fas fa-plus"></i>
        <% end %>   
	</div><br/>
	<div style=".border-left-primary">ffre</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class= "table-striped table-bordered table-hover" width="100%">
			<thead>
				<tr>
				<th>#</th>
				<th>Descrição</th>
				<th>Editar</th>
				<th>Excluir</th>
				</tr>
			</thead>
			<tbody>
				<% @admins.each do |admin| %>
				<tr>
					<td><%= admin.id %></td>
					<td><%= admin.email %></td>
					<td>
						<!--<a href="#" class="btn btn-info btn-circle"><i class="fas fa-info-circle"></i></a>-->
						<%= link_to edit_backoffice_admin_path(admin), class:"btn btn-primary btn-circle" do %>
                            <i class="far fa-edit"></i>
                        <% end %>
					</td>
					<td> 
					<% if current_admin.id != admin.id %>	
						<%= link_to backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-circle", data: {confirm: "Você deseja realmente excluir #{admin.email}?"} do %>
                           <i class="far fa-trash-alt"></i>
                        <% end %>
                     <% else %>
                        <%= link_to '#', disabled: "disabled", title: "Logado", class:"btn btn-danger btn-circle" do %>
                           <i class="far fa-trash-alt"></i>
                        <% end %>
                     <% end %>   
                    </td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>	